<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src={{ "vendor/photoswipe/photoswipe.min.js" | absolute_url }}></script>
<script src={{ "vendor/photoswipe/photoswipe-ui-default.min.js" | absolute_url }}></script>
<script src={{ "vendor/jquery.photoswipe/jquery.photoswipe.js" | absolute_url}}></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src={{ "vendor/packery.js" | absolute_url}}></script>

<!-- build:js scripts/main.js -->
<script src={{ "scripts/main.js" | absolute_url }}></script>
<!-- endbuild -->
